/* debug */
.debug{
  background-color: rgba(47, 79, 79, .2);
  border: 1px solid black;
}
.min-h-300{
  min-height: 300px;
}
/* /debug */



/*
  GENERAL
*/
body{
  color: #2C3E50;
}
.sc-container{
  width: 60%;
  margin: 0 auto;
}
.sc-section-green{
  background-color: #31BC9C;
  color: white;
}

.sc-btn-green {
  background: #1ABC9C;
  color: #fff;
}
.sc-btn-green:hover,
.sc-btn-green:active,
.sc-btn-green:focus {
  background: #0f836c;
  color: #fff;
}

/* star */
.sc-star {
  margin: 30px auto;
}
.sc-star:before,
.sc-star:after {
  content: '';
  display: inline-block;
  width: 15%;
  height: 4px;
  border-radius: 2px;
  line-height: 4px;
  vertical-align: middle;
  background-color: white;
}
.sc-star i.bi-star-fill {
  display: inline-block;
  width: 8%;
  font-size: 30px;
  line-height: 4px;
  vertical-align: middle;
}
.sc-star.sc-star-blue:before,
.sc-star.sc-star-blue:after {
  background-color: #2c3e50;
}
.sc-star.sc-star-blue i.bi-star-fill {
  color: #2c3e50;
}

/*
  HEADER
*/
header, footer{
  background-color: #2C3E50;
}
header{
  height: 90px;
}
header nav{
  height: 100%;
}
header nav .row{
  height: 100%;
}

.navbar.sc-navbar{
  background-color: #2C3E50;
}

.navbar.sc-navbar .navbar-collapse{
  flex-grow: 0;
}

.navbar-light.sc-navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1' stroke-linecap='round' stroke-miterlimit='10' stroke-width='1' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light.sc-navbar .navbar-toggler {
  color: rgba(255,255,255,.55);
  border-color: rgba(255,255,255,.1);
}

.navbar-light.sc-navbar .navbar-nav{
  background-color: #2C3E50;
}

.sc-navbar a{
  color: white !important;
  text-transform: uppercase;
}

.sc-navbar .navbar-brand {
  font-size: 26px;
  font-weight: bold;
}

.sc-navbar .navbar-collapse a:hover{
  color: aquamarine !important;

}
/*
  JUMBOTRON
*/
.jumbotron{
  /* height: 500px; */
}
.sc-jumbotron-image{
  max-width: 250px;
}
/*
  MAIN
*/

/* portofolio */
.sc-card{
  position: relative;
  margin-bottom: 30px;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
}

.sc-card img{
  width: 100%;
}
.sc-card .sc-layover{
  background-color: rgba(2, 180, 130, 0.8);
  color: white;
  font-size: 70px;
  display: none !important;
}
.sc-card:hover .sc-layover{
  display: flex !important;
}

/* about */
#about p{
  font-size: 18px;
}
/* contact */
#contact input,
#contact textarea{
  padding: 10px 0 30px 0;
  border-top: 0 transparent;
  border-left: 0 transparent;
  border-right: 0 transparent;
  box-shadow: none;
  border-radius: 0;
  font-size: 20px;
  color: #2c3e50;
}
#contact ::placeholder {
  color: #2c3e50;
  font-size: 20px;
}
/*
  FOOTER
*/

footer{
  color: white;
}

.footer-top{
  background-color: #3A546D;
}
.footer-top .sc-social{
  font-size: 2rem;
  letter-spacing: .5rem;
}

.sc-footer-bottom{
  font-size: .7rem;
}

/*
  MEDIA
*/

@media screen and (max-width: 768px){
  .sc-navbar .navbar-brand {
    font-size: 18px;
    font-weight: bold;
  }
  
}